.border {
  width: 99.8%;
  border-top: 1px solid var(--white);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  font-size: 20px;
  font-weight: 600;
  line-height: 106%;
  padding: 20px 12px 0 12px;
  position: relative;
}

.border__date {
  text-transform: uppercase;
}

.border::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -5px;
  width: 13px;
  height: 21px;
  background-image: url(/img/white-curve-left.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.border::before {
  content: "";
  position: absolute;
  top: -1px;
  right: -5px;
  width: 13px;
  height: 21px;
  background-image: url(/img/white-curve-right.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}


@media (max-width: 365px) {
  .border {
    flex-direction: column;
  }
}

@media (max-width: 304px) {
  .border {
    font-size: calc(var(--index) * 1.2);
  }
}