.cards__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-decoration: none;
}

.cards__link {
  text-decoration: none;
  color: inherit;
}