.process {
  margin-bottom: 255px;
}

.process__title {
  color: var(--dark);
  font-size: 80px;
  font-weight: 500;
  margin-bottom: 75px;
}

@media (max-width: 1024px) {
  .process {
    margin-bottom: 55px;
  }
  .process__title {
    font-size: calc(var(--index) * 4);
  }
}

@media (max-width: 768px) {
  .process__title {
    text-align: center;
  }
}

@media (max-width: 450px) {
  .process__title {
    font-size: calc(var(--index) * 4.2);
  }
}

@media (max-width: 368px) {
  .process__title {
    font-size: calc(var(--index) * 4);
  }
}
