.explore {
  color: var(--white);
}

.explore__title {
  font-size: 25px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 27px;
}

.list {
  list-style: none;
  max-height: 196px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
}

.link {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 106%; /* 21.2px */
  cursor: pointer;
  position: relative;
  padding-bottom: 5px;
  display: inline-block;
  overflow-x: hidden;
}

.link::after {
  content: '';
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid #ffffff;
  transform: translateX(-100%);
  transition: all .4s ease-in-out;
}

.link:hover::after {
  transform: translateX(0%);
}